<ul class="navbar-nav ml-auto">
    <f:if condition="{f:count(subject: profileNavigation)} > 0">
        <f:if condition="{isLoggedIn}">
            <f:then>
                <!-- Show Profile informations -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <f:format.raw>{userName}</f:format.raw>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <f:for each="{profileNavigation}" as="item">
                            <a href="{item.link}" class="dropdown-item{f:if(condition:'{item.current}', then:' active')}">{item.title}</a>
                        </f:for>
                    </div>
                </li>
            </f:then>
            <f:else>
                <!-- Not logged in... -->
                <f:for each="{profileNavigation}" as="item">
                    <li class="nav-item">
                        <a href="{item.link}" class="nav-link{f:if(condition:'{item.current}', then:' active')}">{item.title}</a>
                    </li>
                </f:for>
            </f:else>
        </f:if>
    </f:if>

    <f:if condition="{f:count(subject: languageNavigation)} > 1">
        <f:if condition="{f:count(subject: languageNavigation)} > 2">
            <f:then>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Sprache
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <f:for each="{languageNavigation}" as="item">
                            <a {f:if(condition: item.available, then: ' href="{item.link}"' )} hreflang="{item.hreflang}" title="{item.navigationTitle}" class="dropdown-item{f:if(condition: item.active, then: ' active')}{f:if(condition: item.available, else: ' disabled')}">
                                <f:format.case>{item.twoLetterIsoCode}</f:format.case>
                            </a>
                        </f:for>
                    </div>
                </li>
            </f:then>
            <f:else>
                <f:for each="{languageNavigation}" as="item">
                    <li class="nav-item{f:if(condition: item.active, then: ' active')}{f:if(condition: item.available, else: ' disabled')}">
                        <a {f:if(condition: item.available, then: ' href="{item.link}"' )} hreflang="{item.hreflang}" class="nav-link" title="{item.navigationTitle}">
                            <f:format.case>{item.twoLetterIsoCode}</f:format.case>
                        </a>
                    </li>
                </f:for>
            </f:else>
        </f:if>
    </f:if>
</ul>